[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = git@github.com:faizmokhtar/hugo-classic.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = git@github.com:faizmokhtar/Mainroad.git
